{{#if visible}}
  <div class="lattice-topic-card card-content">
    <div class="topic-card-header">
      {{topicId}}
      <h1>{{topic.title}}</h1>
      <div>{{topic.description}}</div>
    </div>
    <div class="topic-card-footer">
      <div>{{i18n.created_lowercase}}</div>

    </div>
  </div>
{{/if}}
