<div class='span13'>
  <p>{{i18n 'lattice.admin.none_selected'}}</p>

  <div>
    {{#link-to 'adminLattice' 'new' class="btn"}}
      {{fa-icon "plus"}} {{i18n 'lattice.admin.new'}}
    {{/link-to}}
  </div>
</div>
