.lattice-dropdown {
  background: #e9e9e9;
  line-height: 30px;
  padding: 7px;
  color: #222 !important;
}

.lattice-dropdown-text {
  margin-right: 10px;
}

.lattice-dropdown-item {
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  a { color: #222 !important; }
}

.lattice-title {
  margin-bottom: 5px;
}

.lattice-mobile-cell {
  padding: 10px;
  margin: -8px 0;
  background: #eee;
  text-align: center;
}

.lattice-topic-count {
  font-size: 24px;
  font-weight: bold;
}

.lattice-table-row td {
  vertical-align: top;
}

.lattice-view-more {
  display: block;
  padding-top: 10px;
}
