.lattice-title {
  margin-bottom: 5px;
}

.lattice-mobile-cell {
  padding: 10px;
  margin: -8px 0;
  background: #eee;
  text-align: center;
}

.lattice-topic-count {
  font-size: 24px;
  font-weight: bold;
}

.lattice-table-row td {
  vertical-align: top;
}

.lattice-view-more {
  display: block;
  padding-top: 10px;
}
