#topic-card {
  position: absolute;
  width: 500px;
  left: -9999px;
  top: -9999px;
  z-index: 990;
  box-shadow: 1px 2px 6px rgba(0,0,0, .25);
  margin-top: -2px;
  color: $primary;
  background: $secondary center center;
  background-size: cover;
  -webkit-transition: opacity .2s, -webkit-transform .2s;
          transition: opacity .2s, transform .2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  opacity: 0;
  @include transform(scale(.9));

  &.show {
    opacity: 1;
    @include transform(scale(1));
  }

  .topic-card-header {
    padding: 10px 20px;
  }

  .topic-card-link {
    float: right; padding-bottom: 5px;
  }

  .topic-card-footer {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    clear: both;
    background: #eee;
  }

  .topic-card-number {
    font-size: 18px;
    padding-top: 5px;
  }
}
